.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 200px 33px;
}

nav {
    display: flex;
    justify-content: space-around;
}

header {
    background-image: url('../image/assets/Hero-bg.png');
}

.btn {
    background-color: black;
    color: white;
    margin: auto;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
}

.center {
    text-align: center;
}

.resume {
    border-style: groove;
    padding: 17px 24px;
    border-radius: 5px;
}

.learn {
    border-style: groove;
    padding: 12px 20px 12px 20px;
    border-radius: 5px;
}

.container {
    display: flex;
    gap: 24px;
    padding: 40px 40px;
    justify-content: center;
}

.shadow1 {
    padding: 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 76, 30, 0.05);
    border-radius: 5px;
}

.shadow2 {
    padding: 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 76, 232, 0.05);
    border-radius: 5px;
}

.shadow3 {
    padding: 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 223, 0, 0.05);
    border-radius: 5px;
}

main {
    margin: 74px 150px 90px 74px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: rgba(13, 19, 33, 0.02);
    padding: 80px 97px 80px 97px;
    border-radius: 5px;
}
.asdf{
    margin-bottom: 32px;
    justify-content:space-around;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.fgfgf{
    justify-content:space-around;
    margin-bottom: 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.dfdfd{
    justify-content: space-around;
    margin-bottom: 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.youtube{
    padding: 90px 150px 151px 400px;
    width: 100%;
    height: 100%;
}
.jhhfg{
    justify-content:space-around;
}