.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 200px 33px;
}

nav {
    display: flex;
    justify-content: space-around;
}
header{
    background-image: url('../image/assets/Hero-bg.png');
    background-repeat: no-repeat;
}
.btn{
    background-color: black;
    color: white;
    margin: auto;
    padding: 10px 10px 10px 10px ;
    border-radius: 5px;
}
.center{
    text-align: center;
}
.resume{
    border-style: groove;
    padding: 17px 24px;
    border-radius: 5px;
}
.learn{
    border-style: groove;
    padding: 12px 20px 12px 20px;
    border-radius: 5px;
}
.container{
    display: flex;
    gap: 24px;
    padding: 40px 40px;
    justify-content: center;
}
.shadow1{
    padding: 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 76, 30, 0.05);
}
.shadow2{
    padding: 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 76, 232, 0.05);
}
.shadow3{
    padding: 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 223, 0, 0.05);
}
